@import "tailwindcss";

@font-face {
    font-family: 'anton';
    src: url(/public/fonts/anton.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(/public/fonts/robotoFlex.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  scroll-behavior: contain;
}